[Unit]
Description=uWSGI instance to serve wte
After=network.target

[Service]
User=virdue
Group=www-data
WorkingDirectory=/home/virdue/WhereToEat/backend_api
Environment="PATH=/home/virdue/WhereToEat/backend_api/venv/bin"
ExecStart=/home/virdue/WhereToEat/backend_api/venv/bin/uwsgi --ini config.ini

[Install]
WantedBy=multi-user.target
